<!doctype html>
<html ng-app="App" >
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Sharp Livestream</title>
  <script>document.write("<base href=\"" + document.location + "\" />");</script>
  <script language="javascript" type="text/javascript" src="resources/angular.js"></script>
  <script src="app.js"></script>
  <script src="resources/dash.all.min.js"></script>
  <script src="resources/angular-sanitize.min.js"></script>
  <script src="resources/videogular.js"></script>
  <script src="resources/vg-controls.js"></script>
  <script src="resources/vg-overlay-play.js"></script>
  <script src="resources/vg-poster.js"></script>
  <script src="resources/vg-buffering.js"></script>
  <script src="resources/vg-dash.js"></script>
  <script src="resources/xml2json.min.js"></script>
  <script src="resources/angular-route.js"></script>
  <script src="resources/sha.js"></script>

  <link href="resources/bootstrap.min.css" rel="stylesheet">
  <link href="app.css" rel="stylesheet">

</head>

<style type="text/css">
  body { background: #191919 !important; }
</style>

<body>
<section ng-controller="homeController as controller">
  <div class="row">
    <div class="col-md-12">
      <br>

      <br>
    </div>
  </div>

  <div class="row">
    <nav class="col-md-1 bs-docs-sidebar">
      <a href="#stream" style="color:#7f0000">load stream </a>
      <div ng-repeat="info in data">
        <ul id="sidebar" class="nav nav-stacked fixed">
          <li>
            <a href="#main" ng-click = "controller.setVars(info)">{{info}}</a>
          </li>
        </ul>
      </div>
    </nav>
    <a href ng-click = "controller.setVideo(2)"></a>
    <div class="col-md-9">
      <div ng-view></div>
    </div>
  </div>
  <br>
  <br>
</section>
</body>
</html>