<!doctype html>
<html ng-app="App" >
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Sharp Livestream</title>
    <script>document.write("<base href=\"" + document.location + "\" />");</script>
    <script src="resources/angular.js"></script> <!-- was 1.0.2 -->
    <script src="app.js"></script>
    <script src="resources/dash.all.min.js"></script>
    <script src="resources/angular-sanitize.min.js"></script>
    <script src="resources/videogular.js"></script>
    <script src="resources/vg-controls.js"></script>
    <script src="resources/vg-overlay-play.js"></script>
    <script src="resources/vg-poster.js"></script>
    <script src="resources/vg-buffering.js"></script>
    <script src="resources/vg-dash.js"></script>
    <script src="resources/xml2json.min.js"></script>
    <script src="resources/angular-route.js"></script>
    <script src="resources/sha.js"></script>

    <link href="resources/bootstrap.min.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
</head>
<body>

<div ng-controller="streamController as controller">
<!--<div>-->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div class="videogular-container">
                <videogular vg-player-ready="controller.onPlayerReady($API)" vg-complete="controller.onCompleteVideo()" vg-theme="controller.config.theme.url">
                    <vg-media vg-src="controller.config.sources" vg-dash
                              vg-tracks="controller.config.tracks">
                    </vg-media>
                    <vg-controls>
                        <vg-play-pause-button></vg-play-pause-button>
                        <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                        <vg-scrub-bar>
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        </vg-scrub-bar>
                        <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                        <vg-volume>
                            <vg-mute-button></vg-mute-button>
                            <vg-volume-bar></vg-volume-bar>
                        </vg-volume>
                        <vg-fullscreen-button></vg-fullscreen-button>
                    </vg-controls>
                    <vg-overlay-play></vg-overlay-play>
                    <vg-buffering></vg-buffering>
                    <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
                </videogular>
            </div>

            <style>
                video {
                    width: 250px;
                    height: 150px;
                }
            </style>


            <nav class="row no-gutter">
                <div class="col-md-3">
                    <a href ng-click = "controller.setVideo(0)">
                        <div ng-controller="small0Controller as small0">
                            <videogular vg-player-ready="small0.onPlayerReady($API)" vg-complete="small0.onCompleteVideo()" vg-theme="small0.config.theme.url">
                                <vg-media vg-src="small0.config.sources" vg-dash
                                          vg-tracks="small0.config.tracks">
                                </vg-media>
                                <vg-buffering></vg-buffering>
                            </videogular>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href ng-click = "controller.setVideo(1)">
                        <div ng-controller="small1Controller as small1">
                            <videogular vg-player-ready="small1.onPlayerReady($API)" vg-complete="small1.onCompleteVideo()" vg-theme="small1.config.theme.url">
                                <vg-media vg-src="small1.config.sources" vg-dash
                                          vg-tracks="small1.config.tracks">
                                </vg-media>
                                <vg-buffering></vg-buffering>
                            </videogular>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href ng-click = "controller.setVideo(2)">
                        <div ng-controller="small2Controller as small2">
                            <videogular vg-player-ready="small2.onPlayerReady($API)" vg-complete="small2.onCompleteVideo()" vg-theme="small2.config.theme.url">
                                <vg-media vg-src="small2.config.sources" vg-dash
                                          vg-tracks="small2.config.tracks">
                                </vg-media>
                                <vg-buffering></vg-buffering>
                            </videogular>
                        </div>
                    </a>
                </div>
            </nav>

        </div>
    </div>
</div>

</body>
</html>